<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title th:remove="all">Unfinished Jira Issues Notification</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
   <div>
       Hello <b th:text="${userName}"></b>,
   </div>
   <p>
       During a weekly scan of the  <b th:text="${projectName}"></b> database, we noticed that there were <b th:text="${issueCount}"></b> issues that were left unfinished past their due date.
   </p>
    <p>The <b th:text="${limitCount}"></b> longest overdue Jira Issues with their Due Date:</p>
    <ul th:remove="all-but-first">
      <li th:each="nameofissue : ${listOfIssueNames}" th:text="${nameofissue}"></li>
    </ul>
    <p>
      Best Regards, <br />
      <em>The KeyInsight Team</em>
    </p>
    <img src="sample.png" th:src="|cid:${westernDigitalLogo}|"/>
  </body>
</html>