.body-header {
  width: 100vw;
  height: 20vh;
  margin-top: 5vh;
  background: #000000;
  display: flex;
  @apply flex-col sm:flex-row;
  @apply justify-center sm:justify-start;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header-description {
  padding-top: 1%;
  padding-left: 2%;
}

.header-title {
  @apply text-3xl;
}

.header-text {
  color: white;
  @apply text-center sm:text-left;
}
